@using TotalBase.Enums;
@using TotalPortal.Configuration;

@using TotalDTO
@using TotalDTO.Commons
@using TotalModel.Models;
@using TotalPortal.Areas.Commons.ViewModels

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model  ICommodityViewModel


@Html.HiddenFor(model => (model as ICommodityPrimitiveDTO).CommodityID)
@Html.HiddenFor(model => (model as IBaseDTO).Editable)

<div class="left-panel">
    <div style="padding-left: 48px; padding-top: 16px; "> <img src="~/Content/Images/New/2017/bom-64.png" /> </div>
</div>
<div class="right-panel">
    <div class="right-first-panel">
        <div class="form-group">
            @Html.LabelFor(model => (model as ICommodityPrimitiveDTO).CodePartA)
            <div class="div-input">
                @Html.Kendo().MaskedTextBoxFor(model => (model as ICommodityPrimitiveDTO).CodePartA).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => (model as ICommodityPrimitiveDTO).CodePartA, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/CommodityCategory.cshtml", @Model, new ViewDataDictionary { { "CommodityCategoryReadonly", true } })

        <div class="form-group" style="padding-top: 16px;">
            @Html.EditorFor(d => (d as ICommodityPrimitiveDTO).Bom, new { BomDisplayName = "Vui lòng chọn loại màng, sau đó nhấn 'Thêm vào khay'", BomLeftPanelInput = "left-panel-input" })
        </div>
    </div>

    <div class="right-second-panel">
        @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/CommodityLine.cshtml", @Model, new ViewDataDictionary { { "CommodityLineReadonly", true } })
        @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/CommodityClass.cshtml", @Model, new ViewDataDictionary { { "CommodityClassReadonly", true } })

        <div class="form-group" style="padding-top: 16px;">
            @Html.Label(" ")
            <div class="div-input">
                <button type="button" class="k-button left-panel-input" onclick="AddCommodityBom()"> <img src="~/Content/Images/New/2017/bom-24.png" /> Thêm vào khay: @(@Model.Name.Length <= 26? @Model.Name: @Model.Name.Substring(0, 25)) </button>
            </div>
        </div>
    </div>

</div>

<div class="form-group">
    @(Html.Kendo().Grid<CommodityBom>()
    .Name("gridBoms")
    .Columns(columns =>
    {
        columns.Bound(c => c.CommodityBomID).Hidden();
        columns.Bound(c => c.BomID).Hidden();
        columns.Bound(c => c.BomCode).Title("Mã").Width(82).HtmlAttributes(new { @readonly = "readonly" }).EditorTemplateName("StringReadonly");
        columns.Bound(c => c.BomName).Title("Tên").Width(96).HtmlAttributes(new { @readonly = "readonly" }).EditorTemplateName("StringReadonly");

        columns.Bound(c => c.EntryDate).Title("Ngày thêm").Width(60).Format("{0:" + Settings.DateTimeFormat + "}").HtmlAttributes(new { @class = "grid-column-center", @readonly = "readonly" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).EditorTemplateName("DateTimeReadonly");

        columns.Bound(c => c.BlockUnit).Title("SL").HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(27)
            .Format(Settings.kfmN0)
            .ClientTemplate("#= kendo.format('" + Settings.kfmN0 + "', BlockUnit) #" + "<input type='hidden' name='CommodityBom.BlockUnit' value='#= BlockUnit #' />")
            .EditorTemplateName("Quantity");
        columns.Bound(c => c.BlockQuantity).Title("TL").HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(27)
            .Format(Settings.kfmQuantity)
            .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', BlockQuantity) #" + "<input type='hidden' name='CommodityBom.BlockQuantity' value='#= BlockQuantity #' />")
            .EditorTemplateName("Quantity");

        columns.Bound(c => c.Remarks).Title("Ghi chú").Width(60);
        columns.Template(t => { }).Title("Mặc định").ClientTemplate("<input id = 'IsDefault' class='GridCheckbox' #= IsDefault ? checked='checked':'' #  type='checkbox' />").HtmlAttributes(new { @class = "grid-column-center", @readonly = "readonly" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(30);

        columns.Template(model => null).HtmlAttributes(new { @class = "grid-column-center" }).Width(20)
            .ClientTemplate("<a class='k-button' style='padding-left:5px; min-width:28px; width:28px' onclick='RemoveCommodityBom(#=CommodityBomID#)'><span class='k-icon k-delete'></span></a>");
    })

    .Scrollable(s => s.Height(219))
    .DataSource(ds => ds.Ajax()
        .Model(model => model.Id(x => x.CommodityBomID))
        .Read(read => read.Action("GetCommodityBoms", "BomAPIs", new { area = "Commons" }).Data(@<text>
            function (e) {
                return {
                    commodityID: $("#CommodityID").val()
                    };}
        </text>))
        .ServerOperation(true))
        .Editable(editable => { editable.Enabled(Model.Editable); editable.Mode(GridEditMode.InCell); })
        .Selectable()
        .Events(events => { events.Save("SaveCommodityBom"); })
    )

</div>


<div class="background-bar" style="height: 45px;">
    <div class="popup-button-bar">
        <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Đóng </button>
    </div>
</div>

<script type="text/javascript">
    function AddCommodityBom(e) {
        if ($("#Editable").val() != 'True')
            return;

        return $.ajax({
            url: '@Url.Action("AddCommodityBom", "BomAPIs", new { area = "Commons" })',
            data: JSON.stringify({ "bomID": $("#Bom_BomID").val(), "commodityID": $("#CommodityID").val() }),

            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (result) {
                if (result.AddResult == "Successfully") {
                    $("#gridBoms").data("kendoGrid").dataSource.read();
                }
                else
                    alert(result.AddResult);
            },
            error: function (jqXHR, textStatus) {
                alert(textStatus);
            }
        });
    }

    function RemoveCommodityBom(commodityBomID) {
        if ($("#Editable").val() != 'True')
            return;
        return $.ajax({
            url: '@Url.Action("RemoveCommodityBom", "BomAPIs", new { area = "Commons" })',
            data: JSON.stringify({ "commodityBomID": commodityBomID }),

            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (result) {
                if (result.RemoveResult == "Successfully") {
                    $("#gridBoms").data("kendoGrid").dataSource.read();
                }
                else
                    alert(result.RemoveResult);
            },
            error: function (jqXHR, textStatus) {
                alert(textStatus);
            }
        });
    }

    function SaveCommodityBom(e) {
        if (e.values.BlockUnit != undefined || e.values.BlockQuantity != undefined || e.values.Remarks != undefined)
            UpdateCommodityBom(e.model.CommodityBomID, $("#CommodityID").val(), e.values.BlockUnit != undefined ? e.values.BlockUnit : e.model.BlockUnit, e.values.BlockQuantity != undefined ? e.values.BlockQuantity : e.model.BlockQuantity, e.values.Remarks != undefined ? e.values.Remarks : e.model.Remarks, e.model.IsDefault)
    }

    $('#gridBoms').on('click', '.GridCheckbox', function () {
        var grid = $('#gridBoms').data().kendoGrid;
        var dataItem = grid.dataItem($(this).closest('tr'));

        var checked = $(this).is(':checked');

        UpdateCommodityBom(dataItem.CommodityBomID, $("#CommodityID").val(), dataItem.BlockUnit, dataItem.BlockQuantity, dataItem.Remarks, (this.id === "IsDefault" ? checked : dataItem.IsDefault))
    })

    function UpdateCommodityBom(commodityBomID, commodityID, blockUnit, blockQuantity, remarks, isDefault) {
        if ($("#Editable").val() != 'True')
            return;

        return $.ajax({
            url: '@Url.Action("UpdateCommodityBom", "BomAPIs", new { area = "Commons" })',
            data: JSON.stringify({ "commodityBomID": commodityBomID, "commodityID": commodityID, "blockUnit": blockUnit, "blockQuantity": blockQuantity, "remarks": remarks, "isDefault": isDefault }),

            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (result) {
                if (result.SetResult == "Successfully") {
                    $("#gridBoms").data("kendoGrid").dataSource.read();
                }
                else
                    alert(result.SetResult);
            },
            error: function (jqXHR, textStatus) {
                alert(textStatus);
            }
        });
    }

</script>

<style>
    .right-first-panel {
        padding-right: 30px;
    }

    .right-second-panel {
        padding-top: 1px;
        padding-right: 13px;
    }

    .left-panel-input {
        width: 100%;
    }
</style>