@using TotalBase.Enums;
@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Productions.ViewModels.SemifinishedHandoverViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")
    
    @Html.HiddenFor(model => model.WorkshiftID)
    @Html.HiddenFor(model => model.WorkshiftCode)
    @Html.HiddenFor(model => model.WorkshiftEntryDate)

    @Html.HiddenFor(model => model.CustomerID)
    
    @Html.HiddenFor(model => model.Customer.CustomerID)
    @Html.HiddenFor(model => model.Customer.Code)
    @Html.HiddenFor(model => model.Customer.Name)
    @Html.HiddenFor(model => model.Customer.VATCode)
    @Html.HiddenFor(model => model.Customer.Telephone)
    @Html.HiddenFor(model => model.Customer.BillingAddress)
    @Html.HiddenFor(model => model.Customer.EntireTerritoryEntireName)
    @Html.HiddenFor(model => model.Customer.SalespersonID)
    @Html.HiddenFor(model => model.Customer.SalespersonName)
    @Html.HiddenFor(model => model.Customer.PaymentTermID)
    @Html.HiddenFor(model => model.Customer.PriceCategoryID)
    @Html.HiddenFor(model => model.Customer.PriceCategoryCode)
    
    @Html.HiddenFor(model => model.SemifinishedLeader.EmployeeID);
    @Html.HiddenFor(model => model.SemifinishedLeader.Name);

    @Html.HiddenFor(model => model.FinishedLeader.EmployeeID);
    @Html.HiddenFor(model => model.FinishedLeader.Name);

    @Html.HiddenFor(model => model.Description);

    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 468px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Tồn phiếu bán thành phẩm")
                .Content(@<text>
                    @Html.Partial("~/Areas/Productions/Views/SemifinishedHandovers/_GetWorkshift.cshtml")
                </text>);
            tabStrip.Add().Text("Tồn phiếu bán thành phẩm theo khách hàng")
                    .Content(@<text>
                    @Html.Partial("~/Areas/Productions/Views/SemifinishedHandovers/_GetCustomer.cshtml")
                    </text>);
        }).SelectedIndex(0)
    )


    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "SemifinishedHandovers")" formtarget="_top" style="display:none" />
            
            <button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Áp dụng </button>            
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Thoát </button>
        </div>
    </div>

}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function okButton_Click() {      
        handleOKEvent($($("#tabStrip").data("kendoTabStrip").select().index() === 0 ? "#semifinishedHandoverPendingWorkshiftGrid" : "#semifinishedHandoverPendingCustomerGrid").data("kendoGrid"));
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }

    function handleOKEvent(selectedGrid) { //This javascript is now used only here. Later, if it is used somewhere else, it should be break into a standalone js file, and then just only add a link here      

        if (selectedGrid === undefined)
            _setModelInput();
        else {
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined || selectedDataItem === null)
                return false;

            _setModelInput(selectedDataItem);
        }


        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {

            $("#Customer_CustomerID").val(selectedDataItem === undefined || selectedDataItem.CustomerID === undefined ? null : selectedDataItem.CustomerID);
            $("#Customer_Code").val(selectedDataItem === undefined || selectedDataItem.CustomerCode === undefined ? null : selectedDataItem.CustomerCode);
            $("#Customer_Name").val(selectedDataItem === undefined || selectedDataItem.CustomerName === undefined ? null : selectedDataItem.CustomerName);
            $("#Customer_OfficialName").val(selectedDataItem === undefined || selectedDataItem.CustomerOfficialName === undefined ? null : selectedDataItem.CustomerOfficialName);
            $("#Customer_Birthday").val(selectedDataItem === undefined || selectedDataItem.CustomerBirthday === undefined ? null : kendo.toString(selectedDataItem.CustomerBirthday, Settings.DateFormat));
            $("#Customer_VATCode").val(selectedDataItem === undefined || selectedDataItem.CustomerVATCode === undefined ? null : selectedDataItem.CustomerVATCode);
            $("#Customer_Telephone").val(selectedDataItem === undefined || selectedDataItem.CustomerTelephone === undefined ? null : selectedDataItem.CustomerTelephone);
            $("#Customer_BillingAddress").val(selectedDataItem === undefined || selectedDataItem.CustomerBillingAddress === undefined ? null : selectedDataItem.CustomerBillingAddress);
            $("#Customer_ShippingAddress").val(selectedDataItem === undefined || selectedDataItem.CustomerShippingAddress === undefined ? null : selectedDataItem.CustomerShippingAddress);
            $("#Customer_TerritoryID").val(selectedDataItem === undefined || selectedDataItem.CustomerTerritoryID === undefined ? null : selectedDataItem.CustomerTerritoryID);
            $("#Customer_EntireTerritoryEntireName").val(selectedDataItem === undefined || selectedDataItem.CustomerEntireTerritoryEntireName === undefined ? null : selectedDataItem.CustomerEntireTerritoryEntireName);
            $("#Customer_SalespersonID").val(selectedDataItem === undefined || selectedDataItem.CustomerSalespersonID === undefined ? null : selectedDataItem.CustomerSalespersonID);
            $("#Customer_SalespersonName").val(selectedDataItem === undefined || selectedDataItem.CustomerSalespersonName === undefined ? null : selectedDataItem.CustomerSalespersonName);
            $("#Customer_PaymentTermID").val(selectedDataItem === undefined || selectedDataItem.PaymentTermID === undefined ? null : selectedDataItem.PaymentTermID);
            $("#Customer_PriceCategoryID").val(selectedDataItem === undefined || selectedDataItem.CustomerPriceCategoryID === undefined ? null : selectedDataItem.CustomerPriceCategoryID);
            $("#Customer_PriceCategoryCode").val(selectedDataItem === undefined || selectedDataItem.CustomerPriceCategoryCode === undefined ? null : selectedDataItem.CustomerPriceCategoryCode);

            $("#WorkshiftID").val(selectedDataItem === undefined || selectedDataItem.WorkshiftID === undefined ? null : selectedDataItem.WorkshiftID);
            $("#WorkshiftCode").val(selectedDataItem === undefined || selectedDataItem.Code === undefined ? null : selectedDataItem.Code);
            $("#WorkshiftEntryDate").val(selectedDataItem === undefined || selectedDataItem.EntryDate === undefined ? null : kendo.toString(selectedDataItem.EntryDate, Settings.DateTimeFormat));

            $("#Description").val(selectedDataItem === undefined || selectedDataItem.Description === undefined ? null : selectedDataItem.Description);
          
        }
    }

</script>





