@using TotalBase.Enums;
@using TotalPortal.Configuration

@model TotalPortal.Areas.Purchases.ViewModels.PurchaseRequisitionViewModel

<div id="popupWindow"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MainForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")
    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTopB.cshtml")

    @Html.HiddenFor(model => model.PurchaseRequisitionID)

    <div class="left-panel">

        @Html.Partial("~/Views/Helpers/Bases/_BaseSectionLeftA.cshtml")


        <div class="form-group">
            @Html.LabelFor(model => model.Code)
            <div class="div-input">
                @Html.Kendo().MaskedTextBoxFor(model => model.Code).HtmlAttributes(new { @class = "left-panel-input" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryDate)
            <div class="div-input">
                @Html.Kendo().DateTimePickerFor(model => model.DeliveryDate).HtmlAttributes(new { @class = "left-panel-input" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (@Model.Voidable || @Model.UnVoidable || @Model.VoidTypeID > 0)
        { //Don't render when in Edit Mode, so: do not add VoidType.VoidTypeID [Required] DataAnnotations to the view to submit to controller when edit
            <div class="form-group">
                @Html.EditorFor(d => d.VoidType, (@Model.Voidable ? new { VoidTypeClassSpecialEditable = "SpecialEditable" } : null))
            </div>
        }

    </div>

    <div class="right-panel">

        <div class="right-top-panel right-top-panel-H2">
            @Html.EditorFor(d => d.Customer, new { CustomerDescriptionHidden = "false", CustomerDisplayName = @Model.GetDisplayName(m => m.Customer) })

            <div class="form-group">
                <div class="right-panel-label right-panel-label-whole-width">
                    @Html.LabelFor(model => model.Purposes)
                </div>
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.Purposes).HtmlAttributes(new { @class = "right-panel-input" })
                </div>
                <div class="div-validation-message">
                    @Html.ValidationMessageFor(model => model.Purposes, "", new { @class = "text-danger" })
                </div>
            </div>        
        </div>


        <div class="div-k-grid-detail">
            @(Html.Kendo().Grid(Model.PurchaseRequisitionViewDetails)
                .Name("kendoGridDetails")
                .Columns(columns =>
                {

                    columns.Bound(p => p.PurchaseRequisitionDetailID).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= PurchaseRequisitionDetailID #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].PurchaseRequisitionDetailID' value='#= PurchaseRequisitionDetailID #' />");
                    columns.Bound(p => p.PurchaseRequisitionID).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= PurchaseRequisitionID #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].PurchaseRequisitionID' value='#= PurchaseRequisitionID #' />");


                    columns.Bound(p => p.CommodityID).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= CommodityID #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].CommodityID' value='#= CommodityID #' />");                    
                    columns.Bound(p => p.CommodityCode).DisplayNameTitle().Filterable(false).Width(200)
                        .ClientFooterTemplate("TC (#= kendo.format('{0:n0}', count) # dòng)")
                        .ClientTemplate("<div> #= CommodityCode #</div>" +
                        //"<div> #= '[' ##= WarehouseCode ##= ']' #</div>" +
                                "<div> #= (VoidTypeName == null)? '' : VoidTypeName #</div>" +
                                "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].CommodityCode' value='#= CommodityCode #' />");

                    columns.Bound(p => p.CommodityName).DisplayNameTitle().Filterable(false).Width(280).HtmlAttributes(new { style = "" })
                        .ClientTemplate("#= CommodityName #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].CommodityName' value='#= CommodityName #' />");
                  

                    columns.Bound(p => p.CommodityTypeID).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= CommodityTypeID #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].CommodityTypeID' value='#= CommodityTypeID #' />");



                    columns.Bound(p => p.Quantity).DisplayNameTitle().Filterable(false).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(50)
                        .Format(Settings.kfmQuantity)
                        .ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #")
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', Quantity) #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].Quantity' value='#= Quantity #' />");


                    columns.Bound(p => p.Remarks).DisplayNameTitle().Filterable(false).Width(200)
                        .ClientTemplate("#= (Remarks == null)? '' : Remarks #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].Remarks' value='#= (Remarks == null) ? '' : Remarks #' />");

                    columns.Bound(p => p.InActivePartial).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= (InActivePartial == null)? '' : InActivePartial #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].InActivePartial' value='#= (InActivePartial == null) ? '' : InActivePartial #' />");

                    //columns.Bound(p => p.InActivePartialDate).DisplayNameTitle().Filterable(false).Hidden()
                    //    .ClientTemplate("#= (InActivePartialDate == null)? '' : InActivePartialDate #" + "<input type='hidden' name='PurchaseRequisitionViewDetails[#= index(data) #].InActivePartialDate' value='#= (InActivePartialDate == null) ? '' : InActivePartialDate #' />");

                    columns.Command(command => { command.Destroy().Text("<span class='command' ></span>"); }).Width(50).Hidden(!@Model.Editable).HtmlAttributes(new { @class = "grid-column-center" });

                    columns.Template(model => null).HtmlAttributes(new { @class = "grid-column-center" }).Width(50).Hidden(!@Model.Voidable && !@Model.UnVoidable)
                        .ClientTemplate("<a class='k-button' style='padding:0px;' onclick='callVoidDetail(#= PurchaseRequisitionDetailID #)'><span class='k-icon k-edit'></span></a>");
                })
                    .Filterable()
                    .Navigatable()

                    .ToolBar(toolbar =>
                    {
                        if (Model.Editable)
                        {
                            toolbar.Template(@<text>
                                <button type="button" class="k-button" onclick="$('#kendoGridDetails').data('kendoGrid').addRow()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Thêm mặt hàng </button>

                                @if (Model.Editable)
                                {
                                    <span style="float:right">
                                        @Html.Partial("~/Views/Helpers/Commons/_Import.cshtml")
                                    </span>
                                }

                            </text>);
                        }
                        else
                        {//Add a functionless button for display purpose only
                            toolbar.Template(
                                @<text>
                                    <div>
                                        @(Html.Kendo().Button()
                                            .Name("iconButton")
                                            .HtmlAttributes(new { type = "button" })
                                            .SpriteCssClass("k-icon k-i-ungroup") //.Content("My button label")
                                        )
                                    </div>
                                </text>);
                        }
                                })

                                .Editable(editable => { editable.Enabled(Model.Editable); editable.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(true).CreateAt(GridInsertRowPosition.Bottom); })
                                .Selectable(settings =>
                                {
                                settings.Mode(GridSelectionMode.Multiple);
                                settings.Type(GridSelectionType.Row);
                                })
                                .Events(events =>
                                {
                                events.DataBound(@<text>
                                        function(e) {

                                        var grid = $("#kendoGridDetails").data("kendoGrid");
                                        var data = grid.dataSource.data();
                                        $.each(data, function (i, row) {
                                        var isWarrantyClaim = row.VoidTypeName;
                                        if (isWarrantyClaim != null && isWarrantyClaim != '') {
                                        $('tr[data-uid="' + row.uid + '"]').addClass("isBonus");
                                        }
                                        });
                                        }
                                </text>);
                                }).DataSource(dataSource => dataSource
                                                                    .Ajax()
                                                                    .Batch(true)
                                                                    .ServerOperation(false)
                                                                    .Model(model =>
                                                                    {
                                                                        model.Id(x => x.PurchaseRequisitionDetailID);
                                                                        model.Field(m => m.PurchaseRequisitionDetailID).DefaultValue(0);
                                                                        model.Field(m => m.PurchaseRequisitionID).DefaultValue(@Model.PurchaseRequisitionID);
                                                                    })
                                                                    .Events(events =>
                                                                    {
                                                                        events.Error("kendGrid_ErrorHandler");
                                                                    })
                                                                    .Aggregates(a => a.Add(x => x.CommodityCode).Count())
                                                                    .Aggregates(a => a.Add(x => x.Quantity).Sum())
                                                                    )
            )
        </div>

        <div class="div-k-panel">
            @(Html.Kendo().PanelBar()
                .Name("IntroPanelBar")
                .Items(items =>
                {
                    items.Add()
                        .Text("Thông tin khác")
                        .Selected(true)
                        .Expanded(false)
                        .Content(@<text>
                            <div class="right-first-panel">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "right-panel-label" })
                                    <div class="div-input">
                                        @Html.Kendo().MaskedTextBoxFor(model => model.Description).HtmlAttributes(new { @class = "right-panel-input" })
                                    </div>
                                    <div class="div-validation-message">
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks, new { @class = "right-panel-label" })
                                    <div class="div-input">
                                        @Html.Kendo().MaskedTextBoxFor(model => model.Remarks).HtmlAttributes(new { @class = "right-panel-input" })
                                    </div>
                                    <div class="div-validation-message">
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="right-second-panel">
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/PreparedPerson.cshtml")
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/Approver.cshtml")
                            </div>

                        </text>).HtmlAttributes(new { @class = "panel-class" });
                })
            )
        </div>


        <div class="right-botton-panel">

            @if (Model.Editable)
            {
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", "PurchaseRequisitions")"> <img src="~/Content/Images/New/save-icon.png" /> Lưu </button>
            }

            @if (Model.PurchaseRequisitionID > 0 && !Model.Approvable && !Model.UnApprovable)
            {
                <button type="button" class="k-button custom-button" onclick="location.href='@Url.Action("Approve", "PurchaseRequisitions", new {id = @Model.PurchaseRequisitionID })'"> <img src="~/Content/Images/Mains/@(!@Model.Approved ? "Actions-ok-icon32.png" : "Cross-icon-cancel32.png")" /> @(!Model.Approved ? "Duyệt" : "Hủy duyệt") </button>
            }

        </div>

        @Html.Partial("~/Views/Helpers/Bases/_BaseSubmit.cshtml")




    </div>
}


<script src="@Url.Content("~/Scripts/Helpers/KendoGrid/gridHelper.js")"></script>
<script src="@Url.Content("~/Scripts/Controllers/Purchases/PurchaseRequisitions/Import.js")"></script>

<script type="text/javascript">


    function callVoidDetail(purchaseRequisitionDetailID) {
        require(["kpopupWindow"], function (kpopupWindow) {
            var voidDetailWindow = new kpopupWindow();
            voidDetailWindow.openWindow($("#popupWindow"), "@Url.Action("VoidDetail", "PurchaseRequisitions")" + "/" + $("#PurchaseRequisitionID").val() + "/" + purchaseRequisitionDetailID, "Hủy/ phục hồi một phần đơn hàng", @Settings.PopupWidthVoid,  @Settings.PopupHeightVoid);
        });
    }

    window.urlCommoditiesApi = '@Url.Action("GetCommodityBasesImport", "CommodityAPIs", new { area = "Commons" })';
</script>

